
nav{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
    box-shadow: 0 0 10px #00ffff, 0 0 20px #ff00ff;          /*  box-shadow: X-offset Y-offset Blur-radius Color */
} 
.logo{
    
    color: #fff;
    font-size: 2.5vw;
    font-weight: bold;
} 
.nav-links{
    list-style: none; /* Bullet Points hatane ke liye */
    display: flex;   /* links ko horizontally lane ke liye */
    gap: 30px;    /* links ke beech gap dene ke liye */
}

.nav-links li{
    display: inline-block; /* list item ek hi line me lane ke liye */
}

.nav-links a{
    text-decoration: none;
    color: #00ffff;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.nav-links a:hover{
    color: #ff00ff; /*Neon Pink on hover*/
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff; /*Neon Glow Effect ke liye*/
    transition: 0.3s ease-in-out;
}
.hamburger-menu{
    display: none;
}
.menu-Btn{
    color: #00ffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
    transition: 0.3s ease-in-out;
    box-shadow: -1px -1px 2px #00ffff; 
    border: 1px solid transparent;

}

.menu-Btn:hover{
        color: #ff00ff; /*Neon Pink on hover*/
        border: 1px solid #ff00ff;
        box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff; 
        text-shadow: 0 0 10px #ff00ff; /*Neon Glow Effect ke liye*/
        transition: 0.3s ease-in-out;
    
}

.login-button, .login-button1{
    color: #00ffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
    transition: 0.3s ease-in-out;
    box-shadow: -1px -1px 2px #00ffff; 
    border: 1px solid transparent;
}

.login2{
display: none;
}
.login-button:hover{
    cursor: pointer;
    color: #ff00ff; /*Neon Pink on hover*/
        border: 1px solid #ff00ff;
        box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff; 
        text-shadow: 0 0 10px #ff00ff; /*Neon Glow Effect ke liye*/
        transition: 0.3s ease-in-out;
}
/* Risponsive Navbaar */
@media (max-width: 768px) {
    .logo{
        font-size: 6vw;
    }
    .nav-links {
        display: none; /* Initially Hide */
        position: absolute;
        top: 60px;
        right: 0;
        background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
        box-shadow: 0 0 10px #00ffff, 0 0 20px #ff00ff; 
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 0;
     
    }

    .nav-links.show-menu {
        display: flex; /* JavaScript se toggle hone ke baad dikhayenge */
    }
    .login{
        display: none;
    }
    .login2{
        display: block;
    }
    .hamburger-menu{
        display: block; /* Mobile me show karna */
    }
}